{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 7"
          ],
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}